body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: rgb(40, 69, 147);
  background: linear-gradient(
    120deg,
    rgba(40, 69, 147, 1) 0%,
    rgba(238, 238, 238, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.icon-btn {
  transition: 0.3s;
}
.icon-btn:hover {
  background-color: #c5c5c5 !important;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
}
.todo-item {
  cursor: pointer;
  transition: all 0.3s;
}
.todo-item:hover {
  transform: scale(1.02);
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
}

input {
  font-family: inherit !important;
}

/* Not found page custom */
.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    120deg,
    rgba(40, 69, 147, 1) 0%,
    rgba(238, 238, 238, 1) 100%
  );
}
.not-found-page h2 {
  font-size: 50px;
  color: #777;
}
.not-found-page p {
}
.not-found-page a {
  background-color: blue;
  padding: 16px 20px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}
.not-found-page a:hover {
  background-color: blue;
}

/* Loader */

.loader {
  font-size: 40px;
  background: -webkit-linear-gradient(#eee, blue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
